In [1]:
import numpy as np
import pandas as pd

class DieClass():
    """
    General definition: The DieClass is used to create a die object. This class will be used to first create a die 
    with any number of sides or faces and weights of each side default to 1. The user can also change the weight of any side, 
    one side at a time. Then, the die can be rolled a specified number of times and the state of the die, 
    which includes the faces and weights, can be returned.
    
    """
    
    def __init__(self, faces):
        """
        Purpose: The purpose of the __init__ method is to essentially create the die object as a pandas dataframe. 
        Input Argument(s): faces
            Faces is an np array that contains the faces of the die object you are creating. If you pass in 2 face or side values
            in the np array, then you will be creating a die of 2 sides, which is a coin. If you pass in 6 values in the np array,
            you will be creating a traditional die to play with later on. The faces array can contain integers or strings. 
        Once the faces array is passed, a pandas dataframe is made with default weights of 1 for each side, making a "fair"
        dice and the index for the dataframe is set to the faces of the object. Furthermore, the weights in the dataframe 
        are modified to be proportions so they are less than 1. 
        
        """
        if not isinstance(faces, np.ndarray):
            raise TypeError("you have to pass a numpy array!")
        if not all([isinstance(f, (np.int32, np.int64, np.str_)) for f in faces]):
            raise TypeError("you have to pass strings or integers!")
        if len(np.unique(faces)) != len(faces):
            raise ValueError("array should have distinct values!")
        self.die_df = pd.DataFrame({
            'faces': faces, 
            'weights': np.ones(len(faces), dtype=float)}
        ).set_index(['faces'])
        #self.die_df['weights'] = self.die_df['weights']/np.sum(self.die_df['weights']) # maybe don't alter the weights here? and do it for p below
    
    def change_weight(self, face_val, new_weight):
        """
        Purpose: The purpose of the change_weight method is to allow the user to change the weight of a single face or side
        of the die as the default weights are 1 for each side, as mentioned above. The weight of each side can only be 
        altered one at a time. By doing this, you can create an "unfair" dice. Using the specified face value, which is the
        index of the dataframe, the weight is changed to the new weight. 
        
        Input Arguments: 
        face_val: The user will pass the face or side that they want to change the weight for. The method will make 
        sure that the face value that's passed is already in the die array. 
        new_weight: The new weight is specified, which should be a numeric or castable as a numeric. The method checks if 
        it is a numeric or castable as a numeric and raises an error if not. 
        
        """
        if face_val not in self.die_df.index:
            raise IndexError("this is not a valid face value!")
        if not str(new_weight).isnumeric():
            raise TypeError("new weight is not numeric")
        self.die_df.loc[face_val, 'weights'] = new_weight
        #self.die_df['weights'] = self.die_df['weights']/np.sum(self.die_df['weights'])
        
    def roll_die(self, num_rolls=1):
        """
        Purpose: The purpose of the roll_die method is to roll the die based on the weights of each face. The die is rolled
        by using random sampling with replacement based on the weights. The results of the roll won't be saved, but 
        the method will return a list of the face values that were rolled. 
        
        Input Arguments:
        num_rolls: Any number of rolls can be specified here to roll the die. The default value for the number the rolls is 1, so if no value is passed, 
        the die will be rolled once. 
        """
        self.die_df['weights'] = self.die_df['weights']/np.sum(self.die_df['weights'])
        return list(np.random.choice(self.die_df.index, num_rolls, replace = True, p = self.die_df['weights']))
        
    def die_state(self):
        """
        Purpose: The purpose of the die state is just to return the private die dataframe. Essentially, the user will be
        able to see the faces of the die and the associated face values. 
        
        Input Arguments: None
        
        """
        return self.die_df

In [2]:
mydie = DieClass(np.array([1, 2, 3]))

In [24]:
isinstance(mydie.change_weight(1,2), pd.DataFrame)

False

In [4]:
mydie.die_state()

        weights
faces
1      0.333333
2      0.333333
3      0.333333

In [3]:
mydie.roll_die(5)

[3, 3, 3, 3, 2]

In [41]:
isinstance(mydie.die_state(), pd.DataFrame)

True

In [ ]:
np.random.choice(5, 3, replace=False, p=[0.1, 0, 0.3, 0.6, 0])
array([2, 3, 0])

In [2]:
class GameClass():
    """
    General definition: The GameClass is used to simulate a game in which one or more similar die are rolled. The die are "similar" in that if multiple
    die objects are passed, they must have the number of sides and associated face values. But, if the user chooses to do so,
    the weight values of the faces can be different between the die objects. 
    """
    def __init__(self, die_obj):
        """
        Purpose: The __init__ method takes a list of already instantiated die object(s).  
        
        Input Arguments:
        die_obj: The die object consists of a list of die that are instantiated using the previous DieClass. The list can be specified 
        prior to passing it through GameClass(), for ease, or can be done simultaneoulsy while passing it through GameClass.
        """
        self.die_obj = die_obj
    def play(self,num_rolls):
        """
        Purpose: The play method is used to roll each dice in the die_obj specified above. Essentially, the method from
        DieClass (roll_die) is invoked to roll each die and the results of each roll are saved to a dataframe that include the
        number of the roll as the index with each die number (based on its index in the passed list) as the columns and 
        the face value that is rolled in each cell. This described layout for the dataframe follows a wide format.
        Unlike the roll_die method in DieClass, the results are saved.
        
        Input Arguments: 
        num_rolls: The number of rolls is again specified here to roll each die a specific number of times using the roll_die
        method from DieClass. 
        
        """
        roll_results = []
        for die in self.die_obj:
            roll_results.append(die.roll_die(num_rolls))
        self.play_df = pd.DataFrame(roll_results).T
        self.play_df.columns = [f'Die {i}' for i in range(len(self.die_obj))] 
        self.play_df['roll number'] = range(1, num_rolls+1)
        self.play_df = self.play_df.set_index(['roll number'])
    def recent_play(self,format_play='wide'):
        """
        Purpose: The purpose of the recent_play method is to return the results of the game to the user based on the format that
        they specify. The two options for the returned dataframe are wide or narrow. 
        
        Input Arguments:
        format_play: The format of the returned dataframe can be either wide or narrow. As defined above in the play method, the 
        dataframe is constructed with a wide format, which is the default value for the argument. The user can specify narrow 
        if they want to change the format from the default. If an argument other than narrow or wide is provided, a ValueError is
        raised and nothing will be returned. 
        
        """
        if format_play == 'narrow':
            play_df_reset = self.play_df.reset_index()
            narrow_df = pd.melt(play_df_reset, id_vars = 'roll number', value_vars = self.play_df.columns,
                               var_name = 'Die', value_name = 'roll result')
            narrow_df = narrow_df.set_index(['roll number', 'Die'])
            return narrow_df
        elif format_play == 'wide':
            return self.play_df
        else:
            raise ValueError('the only table format options are either wide (default) or narrow!')

In [3]:
mydie = [DieClass(np.array([1,2,3,4,5,6])), DieClass(np.array([1,2,3,4,5,6])), DieClass(np.array([1,2,3,4,5,6]))]

In [7]:
mydie = [DieClass(np.array([1])),DieClass(np.array([1]))]

In [4]:
mygame = GameClass(mydie)

In [7]:
print(len(mygame.die_obj))

6

In [5]:
mygame.play(5)

In [6]:
mygame.play_df

             Die 0  Die 1  Die 2
roll number
1                1      2      4
2                6      4      5
3                3      1      6
4                2      1      3
5                6      6      6

In [20]:
mygame.recent_play()

             Die 0  Die 1  Die 2
roll number
1                4      6      3
2                3      4      3
3                2      4      4

In [14]:
isinstance(mygame.play(6), pd.DataFrame)

False

In [16]:
mygame1 = mygame.play(6)
mygame1.play_df

AttributeError: 'NoneType' object has no attribute 'play_df'

In [27]:
isinstance(mygame.recent_play().index, pd.MultiIndex)
#mygame.recent_play('narrow').index

False

In [27]:
mydie.change_weight(1, 2)

AttributeError: 'list' object has no attribute 'change_weight'

In [16]:
mydie.die_df

AttributeError: 'list' object has no attribute 'die_df'

In [32]:
mydie.roll_die(num_rolls = 6)

array([5, 1, 1, 3, 1, 1])

In [37]:
mydie.die_state()

        weights
faces
6      0.166667
12     0.166667
18     0.166667
24     0.166667
30     0.166667
36     0.166667

In [7]:
class AnalyzeClass():
    def __init__(self, game_obj):
        if not isinstance(game_obj, GameClass):
            raise ValueError('Passed value is not a Game object!')
        self.game_obj = game_obj
        self.play_df = self.game_obj.play_df
    def check_jackpot(self):
        num_jackpot = 0
        for _, row in self.play_df.iterrows():
            if (row==row[0]).all():
                num_jackpot+=1
        if num_jackpot == 0:
            print('No jackpots this game!')
        return num_jackpot    
    def face_counts(self):
        face_count_df = self.play_df.apply(lambda row: row.value_counts(), axis=1) # fix this
        face_count_df = face_count_df.fillna(0).astype(int)
        return face_count_df
    def combo_count(self):
        combo_count_df = self.play_df.apply(lambda row: tuple(np.sort(row)), axis = 1).value_counts().to_frame('n')
        combo_count_df.index = pd.MultiIndex.from_tuples(combo_count_df.index)
        return combo_count_df
    def perm_count(self):
        perm_count_df = self.play_df.apply(lambda row: tuple(row), axis = 1).value_counts().to_frame('n')
        perm_count_df.index = pd.MultiIndex.from_tuples(perm_count_df.index)
        return perm_count_df

In [8]:
myanalyze = AnalyzeClass(mygame)

In [9]:
myanalyze.check_jackpot()

1

In [15]:
mygame.play_df

             Die 0  Die 1  Die 2
roll number
1                3      4      6
2                1      4      5
3                6      5      3
4                2      2      5
5                2      6      5

In [16]:
isinstance(myanalyze.face_counts().index, pd.MultiIndex)

False

In [12]:
myanalyze.perm_count()

       n
1 2 4  1
6 4 5  1
3 1 6  1
2 1 3  1
6 6 6  1

In [11]:
myanalyze.combo_count()

       n
1 2 4  1
4 5 6  1
1 3 6  1
  2 3  1
6 6 6  1

In [10]:
myanalyze.face_counts()

             1  2  3  4  5  6
roll number
1            1  1  0  1  0  0
2            0  0  0  1  1  1
3            1  0  1  0  0  1
4            1  1  1  0  0  0
5            0  0  0  0  0  3